@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000; /* Main background color */
  color: #ffffff;
}

.logo {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically */
  flex-direction: column; /* Stack elements vertically */
}

.logo img {
  height: 100px; /* Set a fixed height for the logo */
  width: auto; /* Maintain aspect ratio */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo img {
    height: 75px; /* Adjust height for smaller screens */
  }

  .bg-clip-text {
    font-size: 2rem; /* Increase font size for medium screens */
  }
}

@media (max-width: 600px) {
  .logo {
    justify-content: center; /* Center the logo horizontally */
    align-items: center; /* Center the logo vertically */
    height: 100vh; /* Take full viewport height */
    padding-top: 430px; /* Remove padding */
  }

  .logo img {
    height: 80px; /* Adjust height for phone screens */
  }

  .bg-clip-text {
    font-size: 2.5rem; /* Increase font size for phone screens */
  }

  .max-w-xl {
    max-width: 70%; /* Adjust max width for phone screens */
  }
}