@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000; /* Main background color */
  color: #ffffff;
}

.logo {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically */
  flex-direction: column; /* Stack elements vertically */
  margin-bottom: 20px; /* Add space below the logo */
}

.logo img {
  height: 100px; /* Set a fixed height for the logo */
  width: auto; /* Maintain aspect ratio */
}

/* Typing Animation */
.typing-animation {
  overflow: hidden; /* Ensures the text is hidden initially */
  white-space: nowrap; /* Prevents text from wrapping */
  animation: typing 6.5s steps(40, end), blink-caret 1.75s step-end infinite;
  animation-iteration-count: infinite; /* Loop the animation */
}

@keyframes typing {
  0% { width: 0 }
  50% { width: 100% }
  100% { width: 0 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 1); }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo img {
    height: 75px; /* Adjust height for smaller screens */
  }

  .bg-clip-text {
    font-size: 2rem; /* Increase font size for medium screens */
  }
}

@media (max-width: 600px) {
  .logo {
    justify-content: center; /* Center the logo horizontally */
    align-items: center; /* Center the logo vertically */
    height: auto; /* Adjust height for phone screens */
    padding-top: 450px; /* Remove padding */
    margin-bottom: 20px; /* Add space below the logo */
  }

  .logo img {
    height: 60px; /* Adjust height for phone screens */
  }

  .bg-clip-text {
    font-size: 2rem; /* Adjust font size for phone screens */
    padding-top: 20px; /* Add space above the text */
    padding-bottom: 50px;
  }

  .max-w-xl {
    max-width: 90%; /* Adjust max width for phone screens */
  }
}